.app__about {
    width: 100%;
    flex-direction: column;
    flex: 1;
    
    p {
        width: 85%;
        max-width: 1000px;
    }

    .about-info {
        margin-top: 2rem;
        text-align: center;
    }

    .about-phrase {
        font-weight: 600;
        text-align: center;
        color: var(--black-color);
    }
}

.app__profiles {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.app__profile-item {
    width: 190px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;

    img {
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
    }

    @media screen and (min-width: 2000px) {
        width: 250px;
        margin: 4rem;

        img {
            height: 200px;
        }
    }
}